/*Typo*/
.white-text
{
    color:rgb(243, 236, 236);
    font-family:Georgia, serif;
}

body
{
    margin:0;
}

.header
{
    background-color:rgb(46, 45, 45);
    height:100px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:80px;
    padding-right:80px;
    box-sizing: border-box;
}

.links-wrapper
{   
    min-width: 100px;
    max-width:600px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap:break-word;
}

.socials-wrapper
{
    max-width:400px;
    min-width: 200px;
    display:flex;
    padding:0px;
    margin: 0px;
    flex-shrink:1;
    flex-grow:1;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:1000px)
{
    .links-wrapper, .socials-wrapper
    {
        display:none;
    }
    .header
    {
        justify-content: center;
    }
}


.logo
{
    width:20px;
}

.tiktok-logo
{
    width:18px;
}


.name-wrapper
{
    display: flex;
    flex-shrink:0;
    justify-content: center;
    padding: 0px;
    /*margin-right: 40px;
    margin-left: 40px;*/
}

.name-wrapper h1
{
    letter-spacing:4px;
    margin: 0px;
    padding: 0px;
}

.main
{
    height:940px;
    background-color: aqua;
    display: flex;
    justify-content:center;
    align-items:center;
}

.quote-main
{
    font-size: 106px;
    text-align: center;
}